.toplevel_page_k1kit {
  #wpcontent {
    padding-left: 0;
  }

  .update-nag, .notice-nag {
    display: none;
  }
}

#k1kit-gui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .App {
    > div {
      padding: 0 1rem;
    }
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background: #23282d;
    color: #eee;

    a {
      display: inline-flex;
      align-content: center;
      justify-content: center;
      padding: 0.5rem 1.5rem;
      transition: 0.3s ease;
      color: inherit;
      text-decoration: none;

      &.active, &:hover, &:focus {
        background: #0073aa;
      }
    }
  }

  .list-container {
    max-width: 90%;
    min-height: 70vh;
    margin-bottom: 40px;
  }

  .List {
    width: 100%;

    > div {
      overflow-y: scroll;
    }
  }

  .ListItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

    &.even {
      background: #f1f1f1;
    }

    &.odd {
      background: #fff;
    }

    &.selected {
      background: #222;
      color: #fff;
    }
  }

  .transients {
    padding: 0 !important;

    .info {
      height: 200px;
      padding: 0 1rem;
    }
  }

  .tl-row {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    width: 100%;

    &.header {
      transform: translateY(4px);
      overflow-y: scroll;
    }

    > * {
      // display: inline-block;
      float: left;
      min-height: 45px;
      padding: 0.3rem 0.8rem;
      margin: 0;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      flex-grow: 0;
      flex-shrink: 0;

      &:nth-child(1) {
        border-left: 1px solid #000;
        width: 80px;
      }

      &:nth-child(2) {
        width: 120px;
      }

      &:nth-child(3) {
        width: 120px;
      }

      &:nth-child(4) {
        width: calc(100% - 80px - 120px - 120px - 40px); //auto;
      }

      &:nth-child(5) {
        width: 40px;
        text-align: center;
        padding: 0;

      // button {
        padding: 0;
        margin: 0;
        // width: 100%;
        // height: 100%;
        border: none;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        outline: 0;
        background: transparent;
        color: red;
        transition: 0.3s ease;

        &:hover, &:focus {
          background: #ccc;
        }
        // } 
      }
    }
  }

  .circle-progress {
    position: relative;
    max-width: 400px;

    .progress {

    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;

      .percentage {
        font-size: 2rem;
        display: block;
        margin-bottom: 0.5rem;
      }

      .numeric {
        font-size: 0.8rem;
        display: block;
      }
    }
  }
}

.k1-block {
  &__preview-notice {
    display: none; 

    @media (min-width: 600px) {
      border: 2px solid #ccc;
      padding: 0 1rem;
      position: absolute;
      top: -210px;
      width: 100%;
      z-index: 1000;
      background: #fff;
      pointer-events: none;

      p {
        margin: 0;
        margin-bottom: 10px;
      }
  
      &:after {
        content: '';
        display: block;
        background: url('edit-mode.png') no-repeat;
        background-size: contain;
        width: 100%;
        height: 60px;
      }
    }
  }
}

.acf-block-preview {
  position: relative;

  &:hover {
    @media (min-width: 600px) {
      .k1-block__preview-notice {
        display: block;
      }
    }
  }
}